#validate-box{
    height:210px;
    padding:10px;
    }
    #guidelines{
    height:140px;
    padding:10px;
    font-size:10px;
    -moz-border-radius:5px;
    }
    #share{
    height:125px;
    padding:25px;
    }
    