.tablib_selected{
    background-color:#ccee33;
    }
    .buttons{
    background-color:orange;
    text-decoration:none;
    padding:5px;
    }
	.results{
    background-color:#ccddff;
    }
   /* CSS for the help section  */
    .notes_left{
    font-size:12px;
    background-color:#EEE;
    width:80px;
     }
    
    .notes_right{
    font-size:12px;
    background-color:#BBB;
    padding:10px;
    }